// /components/styles/Button.scss

// General styles
$primary-color: #3d8b40;
$button-border-radius: 5px;

// Normal state
.button {
  background-color: #953e3e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: $button-border-radius;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

// Ongoing process state (e.g., submitting a form state)
.button.loading {
  background-color: lighten($primary-color, 10%);
  cursor: not-allowed;
}

// Secondary button (e.g., back button)
.secondary-button {
  background-color: #f52;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: $button-border-radius;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(#f5222d, 10%);
  }
}
